<%= render "shared/error", obj: @user %>

<%= form_for(@user) do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :time_zone %>
    <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>
  <% if admin? %>
    <div>
      <%= form.label :admin %>
      <%= form.check_box :admin %>
    </div>
  <% end %>
  <div>
  <%= form.submit @user.new_record? ? "Register" : "Update" %>
  </div>
<% end %>