<% header = (link_to("All Posts", posts_path) + " &raquo; Users &raquo; #{@user.username}".html_safe)%>
<%= render 'shared/content_title', title: header %>
<div class="row-fluid">
  <div class="span10">
    <h5><%= @user.username %>'s Activity</h5>
    <div class="tabbable"> 
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab].nil? %>"><a href="#tab1" data-toggle="tab">Posts (<%= @user.posts.size %>)</a></li>
        <li class="<%= 'active' if params[:tab] == 'tab2' %>"><a href="#tab2" data-toggle="tab">Comments (<%= @user.comments.size %>)</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane <%= 'active' if params[:tab].nil? %>" id="tab1">
          <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
          <%= will_paginate @posts, param_name: :posts_page, renderer: BootstrapPagination::Rails, params: {tab: nil} %>
        </div>
        <div class="tab-pane <%= 'active' if params[:tab] == 'tab2' %>" id="tab2">
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, show_post: true %>
          <% end %>
          <%= will_paginate @comments, param_name: :comments_page, renderer: BootstrapPagination::Rails, params: {tab: 'tab2'} %>
        </div>
      </div>
    </div>
  </div>
</div>