<% @posts.each do |post| %>
    <div>
      <%= link_to '+', vote_post_path(post, vote: 'true'), method: 'post' %>
      <%= post.total_votes %>
      <%= link_to '-', vote_post_path(post, vote: 'false'), method: 'post' %>
      <%= render  "shared/post_categories", post: post %>
      <h4><%= link_to post.title, url_with_protocol(post.url) %></h4>
      <p><%= post.description %></p>
      <p>Posted by <%= post.creator.username %> at <%= post.created_at %></p>
    <%= link_to pluralize(post.comments.count, "comment"), post %>
    </div>
    <br>
<% end %>