<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for ([@post, @comment]) do |form| %>
  <div>
    <%= form.label :body%>
    <%= form.text_area :body %>
  </div>
  <%= form.submit "Create comment" %>
<% end %>