<h3><%= "Comment".pluralize(@post.comments.count) %>:</h3>
<% @post.comments.each do |comment| %>
  <div>
      <%= link_to '+', vote_post_comment_path(@post, comment, vote: 'true'), method: 'post' %>
      <%= comment.total_votes %>
      <%= link_to '-', vote_post_comment_path(@post, comment, vote: 'false'), method: 'post' %>
    <p>
      <%= comment.body %>
    </p>
      by <%= comment.creator.username %> at <%= comment.created_at %>
      <% if creator?(comment) %>
      [<%= link_to "edit comment", edit_post_comment_path(@post, comment) %>]
<% end %>
  </div>
  <br>
<% end %>
