<%= render "shared/error", obj: @comment %>

<%= form_for ([@post, @comment]) do |form| %>
  <div>
    <%= form.label :body, "Leave a comment" %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit "Create comment" %>
<% end %>