<%= render partial: "shared/error", locals: {obj: @comment} %>

<%= form_for ([@post, @comment]) do |form| %>
  <div>
    <%= form.label :body%>
    <%= form.text_area :body %>
  </div>
  <%= form.submit "Create comment" %>
<% end %>