<% if @post.errors.any? %>
<%= render partial: "shared/error", locals: {obj: @post} %>
<% end %>
<%= form_for(@post) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url%>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <% for category in Category.all %>
  <div>
    <%= check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) %>
    <%= category.name %>
  </div>
  <% end %>
  <div>
  <%= form.submit "Save" %>
  </div>
<% end %>