<% if creator?(@post) %>
  [<%= link_to "edit post", edit_post_path(@post) %>]
<% end %>

<%= render "shared/post_categories", post: @post %>

<p class="lead"><%= link_to @post.title, url_with_protocol(@post.url) %></p>
<p><%= @post.description %></p>

<% if logged_in? %>
  <%= render "shared/error", obj: @comment %>

  <%= form_for ([@post, @comment]) do |form| %>
    <div>
      <%= form.label :body, "Leave a comment" %>
      <%= form.text_area :body %>
    </div>
    <%= form.submit @comment.new_record? ? "Create comment" : "Update comment" %>
  <% end %>
<% end %>

<h3><%= "Comment".pluralize(@post.comments.count) %>:</h3>
<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>  