<%= link_to "edit post", edit_post_path(@post) %>

<%= render  partial: "shared/post_categories", locals: {post: @post} %>

<p class="lead"><%= link_to @post.title, url_with_protocol(@post.url) %></p>
<p><%= @post.description %></p>

<%= render 'posts/comment_form' %>

<%= render 'posts/comments' %>