<div class="row-fluid">
  <% header = (link_to("All Posts", posts_path) + " &raquo; #{@post.title}".html_safe)%>
  <%= render 'shared/content_title', title: header %>
</div>

<div class="row-fluid">
  <div class="span10">
    <%= render 'post', post: @post %>
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <h4><%= "Comment".pluralize(@post.comments.count) %>:</h4>
    <hr/>
    <% if logged_in? %>
      <%= render 'comments/comment_form' %>
    <% end %>
    <div class="row-fluid">
      <div class="span11">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>  
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>