<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <div class='btn-group nav_item'>
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Categories <span class='caret'></span>
    <% end %>
    <ul class="dropdown-menu">
      <% categories.each do |category| %>
        <li><%= link_to category.name , category_path(category) %></li>
      <% end %>
      <% if admin? %>
        <li class='divider'></li>
        <li>
          <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New Cetegory
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% if logged_in? %>
    <li>
      <%= link_to "New post", new_post_path %>
    </li>
    <div class='btn-group nav_item'>
      <%= link_to('#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        <%= current_user.username %>
        <span class='caret'></span>
      <% end %>
        <ul class='dropdown-menu'>
        <% if admin? %>
          <li>
            <%= link_to(edit_user_path(current_user)) do %>
              <i class='icon-pencil'></i>
              edit profile
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to(user_path(current_user)) do %>
            <i class='icon-user'></i>
            view profile
          <% end %>
        </li>
        <li>
          <%= link_to(logout_path) do %>
            <i class='icon-circle-arrow-left'></i>
            logout
          <% end %>
        </li>
        <li>
          <%= link_to(users_path) do %>
            <i class='icon-cog'></i>
            all users
          <% end %>
        </li>
      </ul>
    </div>
  <% else %>
    <li>
      <%= link_to 'Register', register_path %>
    </li>
    <li>
      <%= link_to 'Login', login_path %>
    </li>
  <% end %>
</ul>
